.login-parent-container {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #A7D46C, #66A6FF);
}

.login-container {
  background: #ffffff;
  padding: 2rem;
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-container h1 {
  color: #333;
  font-size: 24px;
  margin-bottom: 1.5rem;
  font-weight: bold;
}

.form-group {
  margin-bottom: 1.5rem;
}

input[matInput] {
  width: 93%;
  padding: 12px;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

input[matInput]:focus {
  border-color: #A7D46C;
  outline: none;
}

button[mat-raised-button] {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  color: #ffffff;
  background-color: #A7D46C;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[mat-raised-button]:hover {
  background-color: #92C257;
}

button[mat-raised-button]:disabled {
  background-color: #ddd !important; /* Ensures the background is grey */
  color: #999 !important; /* Changes text color to a muted grey */
  cursor: not-allowed !important; /* Shows 'not-allowed' cursor on hover */
  box-shadow: none !important; /* Removes any shadow to give a flat appearance */
}


.error-message {
  color: #e74c3c;
  font-size: 14px;
  margin-top: 1rem;
}
