<div class="container">
  <nav class="navbar">
    <div class="navbar-title">Zeitausgleich</div>
    <button class="logout-button" (click)="logout()">Log Out</button>
  </nav>

  <div class="willkommen"><h1 class="willkommen-header">Willkommen, {{this.userService.user.username}}! </h1></div>

  <div class="child-container" *ngIf="isAdmin; else notAdmin">
    <button class="add-employee-button" (click)="navigateToAddMitarbeiter()">Mitarbeiter hinzufügen</button>
    <div class="admin-container">
      <div class="employee-container">
        <div class="employee" *ngFor="let employee of employees" (click)="navigateToDetail(employee.id)">
          <h3>{{ employee.firstName + ' ' + employee.lastName }}</h3>
        </div>
      </div>
    </div>
  </div>
  <ng-template #notAdmin>
    <div class="today-container">
      <button class="arrow-button left-arrow" (click)="changeDate(-1)">&#8592;</button>
      <span class="today-label">{{ displayDate }}</span>
      <button class="arrow-button right-arrow" (click)="changeDate(1)">&#8594;</button>
    </div>

    <div class="shift-container">
      <div class="shift-buttons-row">
        <button class="shift-button">Schicht beginnen</button>
        <button class="shift-button">Schicht beenden</button>
      </div>
      <div class="shift-buttons-row">
        <button class="shift-button">Pause beginnen</button>
        <button class="shift-button">Pause beenden</button>
      </div>
    </div>

    <div class="status-text">
      <span class="status-item">In</span>
      <span class="status-item">Out</span>
      <span class="status-item">Total</span>
    </div>
  </ng-template>
</div>
